#pagina-encabezado{
    left: 0;   
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #pagina-contenido{
    display: flex;
    justify-content: center;
    
  }
  #pagina-contenido-contenedor{
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }